<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>АПТЕКА - apteka.expert.ru</title>
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    </head>
    <body class="page">

        <header class="page-header">
            <div class="container"><img src="img/logo.png" style="width: 150px; height: 150px; margin-left: 20px; margin-bottom: 50px;"><h1 class="page-title"><a class="title-home" href="/home">ИНФОРМАЦИОННАЯ СИСТЕМА APTEKA.EXPERT.RU</a></h1></div>
        </header>

        <main>

            <ul id="navbar">
                <li><a href="/home" class="current">ГЛАВНАЯ</a></li>
                <li><a href="/pharmacy_order">ЗАКАЗ АПТЕКИ</a></li>
                <li><a href="/medicine">ЛЕКАРСТВА</a></li>
                <li><a href="/supplier">ПОСТАВЩИКИ</a></li>
                <li><a href="/storage">СКЛАД</a></li>
                <li><a href="/internet_orders">ИНТЕРНЕТ-ЗАКАЗЫ</a></li>
                <li><a href="/new_order">НОВЫЙ ЗАКАЗ</a></li>
            </ul>

            <center>
            <div class="home-container" style="margin-top: 30px;">
                <div class="pharmacy-order"><a href="/pharmacy_order"><img src="img/pharmacy_order.jpg" class="img-home img-home-size" alt="Заказ аптеки"></a><br><b>Заказ аптеки</b></div>
                <div class="medicine"><a href="/medicine"><img src="img/medicine.jpg" class="img-home img-home-size" alt="Лекарства"></a><b>Лекарства</b></div>
                <div class="supplier"><a href="/supplier"><img src="img/supplier.jpg" class="img-home img-home-size" alt="Поставщики"></a><b>Поставщики</b></div>
                <div class="storage"><a href="/storage"><img src="img/storage.jpg" class="img-home img-home-size" alt="Склад"></a><b>Склад</b></div>
                <div class="internet-orders"><a href="/internet_orders"><img src="img/internet_orders.jpg" class="img-home img-home-size" alt="Интернет-заказы"></a><b>Интернет-заказы</b></div>
                <div class="new-order"><a href="/new_order"><img src="img/new_order.jpg" class="img-home img-home-size" alt="Новый заказ"></a><b>Новый заказ</b></div>
            </div>
            </center>
        
        </main>
    </body>
</html>