<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>АПТЕКА - apteka.expert.ru</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
    </head>
    <body class="page">

        <header class="page-header">
            <div class="container"><img src="img/logo.png" style="width: 150px; height: 150px; margin-left: 20px; margin-bottom: 50px;"><h1 class="page-title"><a class="title-home" href="/home">ИНФОРМАЦИОННАЯ СИСТЕМА APTEKA.EXPERT.RU</a></h1></div>
        </header>

        <main>

            <ul id="navbar">
                <li><a href="/home">ГЛАВНАЯ</a></li>
                <li><a href="/pharmacy_order">ЗАКАЗ АПТЕКИ</a></li>
                <li><a href="/medicine">ЛЕКАРСТВА</a></li>
                <li><a href="/supplier">ПОСТАВЩИКИ</a></li>
                <li><a href="/storage">СКЛАД</a></li>
                <li><a href="/internet_orders">ИНТЕРНЕТ-ЗАКАЗЫ</a></li>
                <li><a href="/new_order" class="current">НОВЫЙ ЗАКАЗ</a></li>
            </ul>

        <center>

        <h1 style="margin-top: 50px; margin-bottom: 30px;">Изменить заказ</h1>
        <form action="/new_order_change_amount/{{new_order_change_amount_form.client_order_id}}" method="POST" novalidate>
            <input type="text" name="medicine_amount" value="{{new_order_amount_form.medicine_amount}}">
            <br>

            <button class="green" style="margin-top: 30px; width: 200px;" type="submit">Подтвердить</button>
            </form>
            <button class="green" style="margin-top: 70px; width: 200px;" onclick="window.location.href = 'http://localhost:4000/new_order_cheque'">К заказу</a>

        </center>
        
        </main>
    </body>
</html>