<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>АПТЕКА - apteka.expert.ru</title>
        <link type="text/css" rel="stylesheet" href="../css/style.css">
    </head>
    <body class="page">

        <header class="page-header">
            <div class="container"><img src="img/logo.png" style="width: 150px; height: 150px; margin-left: 20px; margin-bottom: 50px;"><h1 class="page-title"><a class="title-home" href="/home">ИНФОРМАЦИОННАЯ СИСТЕМА APTEKA.EXPERT.RU</a></h1></div>
        </header>

        <main>

            <ul id="navbar">
                <li><a href="/home">ГЛАВНАЯ</a></li>
                <li><a href="/pharmacy_order">ЗАКАЗ АПТЕКИ</a></li>
                <li><a href="/medicine">ЛЕКАРСТВА</a></li>
                <li><a href="/supplier">ПОСТАВЩИКИ</a></li>
                <li><a href="/storage">СКЛАД</a></li>
                <li><a href="/internet_orders">ИНТЕРНЕТ-ЗАКАЗЫ</a></li>
                <li><a href="/new_order" class="current">НОВЫЙ ЗАКАЗ</a></li>
            </ul>

            <!--<form style="float: right; margin-top: 7px; margin-bottom: 7px;" method="POST" action="/medicine" novalidate>
                <input class="input-search" type="text" placeholder="Поиск" name="medicine_search">
                <button class="search-background" type="submit"><img src="img/search_button.png" style="width: 16px; height: 16px;"></button>
            </form>-->

        <center>

            <form method="POST" action="/new_order_add/{{new_order_add_form.storage_id}}" novalidate>
                <button class="green" style="margin: 30px;" type="submit">Подтвердить</button>
            </form>

            <br>

            <a class="green" href="/new_order">Вернуться к списку лекарств</a>

        </center>
        
        </main>
    </body>
</html>